[Unit]
Description=zvelo docker-register service

[Service]
User=core
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/bin/bash -c "DOCKER_REGISTRY_HOST=$(/bin/etcdctl get /config/shared/docker/RegistryHost); \
    DOCKER_IMAGE_NAME=$(/bin/etcdctl get /config/system/docker/service/zvelo-docker-register/ImageName); \
    exec /usr/bin/docker pull $DOCKER_REGISTRY_HOST''$DOCKER_IMAGE_NAME"

ExecStart=/bin/bash -c "DOCKER_REGISTRY_HOST=$(/bin/etcdctl get /config/shared/docker/RegistryHost); \
    DOCKER_IMAGE_NAME=$(/bin/etcdctl get /config/system/docker/service/zvelo-docker-register/ImageName); \
    exec /usr/bin/docker run --rm --name=%p-%i \
    -e HOST_IP=$COREOS_PUBLIC_IPV4 \
    -e ETCD_HOST=$COREOS_PUBLIC_IPV4:4001 \
    -v /var/run/docker.sock:/var/run/docker.sock \
    -t $DOCKER_REGISTRY_HOST''$DOCKER_IMAGE_NAME "
#ExecStartPost=/usr/bin/etcdctl set /domains/%p/%H:%i running
ExecStop=/usr/bin/docker stop %p-%i
#ExecStopPost=/usr/bin/etcdctl rm /domains/%p/%H:%i

[X-Fleet]
Conflicts=zvelo-docker-register*
